<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="{{ .Package.Mapper }}.{{ .Table.MapperName }}">
{{ if .EnableCache }}
    {{- /*开启二级缓存*/}}
    <cache type="{{ .CacheClassName }}"/>
{{- end }}
{{- if .BaseResultMap }}
    {{/*通用查询映射结果*/}}
    <resultMap id="BaseResultMap" type="${package.Entity}.${entity}">
{{- range $field := .Table.Fields }}
{{- if $field.KeyFlag }}{{/*生成主键排在第一位*/}}
        <id column="{{ $field.ColumnName }}" property="{{ $field.PropertyName }}" />
{{- end }}
{{- end }}
{{- range $field := .Table.CommonFields }}{{/*生成公共字段*/}}
        <result column="{{ $field.ColumnName }}" property="{{ $field.PropertyName }}" />
{{- end }}
{{- range $field := .Table.Fields }}
{{- if ne $field.KeyFlag }}{{/*生成普通字段*/}}
        <result column="{{ $field.ColumnName }}"property="{{ $field.PropertyName }}" />
{{- end }}
{{- end }}
    </resultMap>

{{- end }}
{{- if .BaseColumnList }}
    {{/*通用查询结果列*/}}
    <sql id="Base_Column_List">
{{- range $field := .Table.CommonFields }}
        {{ $field.ColumnName }},
{{- end }}
        {{ .Table.FieldNames }}
    </sql>

{{- end }}
</mapper>
