@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-1);
  color: var(--color-text-1);
}

.fade-exit {
  opacity: 0;
  transform: translateX(50px);
}

.fade-exit-active {
  opacity: 1;
  transform: translateX(0%);
}

.fade-enter-active,
.fade-exit-active {
  transition: all .2s;
}
